* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    mix-blend-mode: normal;
    -webkit-background-clip: text;
    color: transparent;
    font-size: xx-large;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}

.light:hover {
    filter: brightness(120%);
}

.violet {
    background-color: violet;
}

.indigo {
    background-color: indigo;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}