:root {
    --glow-duration: 0.5s;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    mix-blend-mode: normal;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: xx-large;
    text-shadow: 0px 0px 30px white;
}

.lights-container {
    margin: 20px;
}

.light {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--color);
    animation-iteration-count: infinite;
    animation-duration: var(--glow-duration);
    margin: 5px;
    filter: brightness(120%);
}

/* Glow mode */
.lights-container[data-glow-mode="alternate"] .light {
    animation-direction: alternate;
    animation-name: glow;
}
.lights-container[data-glow-mode="alternate"] .light:nth-child(odd) {
    animation-delay: var(--glow-duration);

}

.lights-container[data-glow-mode="linear"] .light {
    animation-direction: alternate;
    animation-name: glow;
}

.lights-container[data-glow-mode="linear"] .light:nth-child(2) {
    animation-delay: calc(var(--glow-duration)/4);
}

.lights-container[data-glow-mode="linear"] .light:nth-child(3) {
    animation-delay: calc(2*var(--glow-duration)/4);
}

.lights-container[data-glow-mode="linear"] .light:nth-child(4) {
    animation-delay: calc(3*var(--glow-duration)/4);
}

.lights-container[data-glow-mode="linear"] .light:nth-child(5) {
    animation-delay: calc(4*var(--glow-duration)/4);
}

.lights-container[data-glow-mode="linear"] .light:nth-child(6) {
    animation-delay: calc(5*var(--glow-duration)/4);
}

.lights-container[data-glow-mode="linear"] .light:nth-child(7) {
    animation-delay: calc(6*var(--glow-duration)/4);
}

@keyframes glow {
    from {box-shadow: none;}
    to {box-shadow: 0px 0px 30px var(--color);}
}


#glow-speed-val {
    display: inline;
}

select, option {
    color: black;
}

#play-btn {
    background-color: black;
}

#play-btn img {
    width: 30px;
    height: auto;
    cursor: pointer;
}

.hidden {
    display: none;
}

.paused {
    animation-play-state: paused;
}